body {
    background-color: #fbfeee;
    color: black;
}

body a {
    color: black;
}

.primary-bg {
    background-color: #b2d0a6;
}

.secondary-bg {
    background-color: #7bb97f;
}

.link-text a,
.accent-text {
    color: #7bb97f;
}

.chip.active {
    background-color: #b2d0a6;
}
